<div class="container" >

    <div *ngIf="authenticated" class="container">
        <div class="row mainicon">
            SOCCER COACH ADVISOR
        </div>

        <div  class="row centrado" >
            <app-match-table class=" background" [currentUser]="currentUser" [isMainPage]="true" [matchesGived]="showMatches"></app-match-table>
       </div>
    </div>

    <div *ngIf="!authenticated" class="container2">
        <div class="row mainicon2">
            SOCCER COACH ADVISOR
        </div>
    </div>
    
</div>

