.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100vh;
  }
  
  .row-1 {
    grid-row: 1;
    grid-column: 1;
  }
  
  .row-2 {
    grid-row: 2;
    grid-column: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .column-1 {
    grid-column: 1;
  }
  
  .column-2 {
    grid-column: 2;
  }