.absol-header {
  position: absolute;
  width: 100%;
  height: fit-content;
  
}
.header {
  background-color: darkslategray;
}

.bodySpace {
  padding-top: 60px;
  padding-bottom: 80px;
  min-height: 100%;
  margin-bottom: 200px;

}

.greyColor{
  background-color: rgb(72, 104, 104);
}

.footerrelative {
}
