<header class="absol-header">
  <nav class="navbar navbar-inverse header">
    <div class="container-fluid maxheight">
      <div class="navbar-header maxheight">
        <a class="mainicon menuitem maxheight" href="#">SoccerCoachAdvisor</a>
      </div>
      <ul class="menutop">
        <li class="active"><a class="menuitem maxheight" href="#">Home</a></li>
        <li class="maxheight"><a class="menuitem maxheight" href="#">Partidos</a></li>
        <li class="maxheight"><a class="menuitem maxheight" href="#">Equipos</a></li>
      </ul>
      <ul class="navbar-right menutop">
        <li class="maxheight"><a class="menuitem maxheight" href="#">Sign Up</a></li>
        <li class="maxheight"><a class="menuitem maxheight" href="#">Login</a></li>
        <li class="maxheight"><a class="menuitem maxheight" href="#"><i class="bi bi-nut"></i></a></li>
      </ul>
    </div>
  </nav>
</header>
