.menutop {
  list-style-type: none;
  display: flex;
  margin-bottom: 0;
}


.menuitem {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 2em;
  margin-right: 2em;
}

.maxheight {
  height: 100%;
  
}

.mainicon {
  display: flex;
  align-items: center;
}

.greyColor{
  background-color: darkslategray;
}