.gradient-custom-3 {
    /* fallback for old browsers */
    background: darkslategray;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(92, 150, 150), darkslategray);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(92, 150, 150), darkslategray);
}
.gradient-custom-4 {
    /* fallback for old browsers */
    background: darkslategray;
    
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));*/
    background: -webkit-linear-gradient(to right, rgb(92, 150, 150), darkslategray);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /*background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));*/
    background: linear-gradient(to right, rgb(92, 150, 150), darkslategray);
}


.bernabeu-background {
    /*background-image: url('./../../../assets/bernabeu.jpg');*/
    background-color: rgb(72, 104, 104);
    
}

.color-white{
    color: white;
}

.greyColor {
    background-color: rgb(72, 104, 104);
}