.carousel {
    display: flex;
    justify-content: space-evenly;
    
    background-color: #666666;
    color: whitesmoke;
    width: 50%;
}

.oscuro {
    background-color: #f38d8d;
}

.item-carousel {
    height: 5em;
    position: relative;
    display: inline-block;
    text-align: center;
    height: fit-content;
    width: fit-content;
}

.img-carousel {
    height: 10em;
    width: 10em;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.widgets {
    position: fixed;
    top: 6%;
    right: 0;
    height: 60%;
    width: 300px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .widget {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .calendar {
    height: 200px;
    /* Reglas de estilo para el widget de calendario */
  }
  
  .weather {
    height: 200px;
    /* Reglas de estilo para el widget de clima */
  }

  .other {
    height: 200px;
  }