<div class="widgets oscuro">
  <div class="widget calendar oscuro">
    <!-- Aquí iría el código HTML del calendario -->
    Calendario
  </div>
  <div class="widget weather oscuro">
    Tiempo
    <!-- Aquí iría el código HTML del widget de clima -->
  </div>
  <!-- Aquí irían otros widgets -->
  <div class="widget other oscuro">
    Widget 1
    <!-- Aquí iría el código HTML del other -->
  </div>
  <div class="widget other oscuro">
    Widget 2
    <!-- Aquí iría el código HTML del other -->
  </div>
</div>