<div class="carousel">
    <div class="item-carousel">
        <img class="img-carousel" src="../../../assets/persona.png">
        <div class="centrado">Equipo Favorito</div>
    </div>
    <div class="item-carousel">
        <img class="img-carousel" src="../../../assets/persona.png">
        <div class="centrado">Próximos Partidos</div>
    </div>
    <div class="item-carousel">
        <img class="img-carousel" src="../../../assets/persona.png">
        <div class="centrado">Otra Opción</div>
    </div>
  </div>